body,html {
    background-color: rgb(10, 105, 124);
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

i{
font-size: 60px;
}

img {
    display: block;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 300px
}

figcaption {
    text-align: center;
    margin: 10px auto;
}

ul {
    text-align: center;
    width: 440px;
}

ul > li {
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 100px;
}

p {
    color: white
}

.white-copy{
    color: white;
}

#content-wrapper{
    width: 600px;
    margin: 0 auto;
}