<p class="white-copy">
    My name is Megan. I am 19 years old. I was born on June 30, 1999. I have two younger brothers aged 16 and 13. Their names are Hayden and Brett. My mom's name is Jennifer. She has her own business called Saxton Designs. She makes beautiful handcrafted wood signs. My dad's name is Scott. He is a purchaser at Windsor Factory Supply/Granger.
</p>

<p>
    I love to go camping. Me and my family go camping every year. We usually go to Inverhuron Provincial Park. My favourite activities include kayaking, swimming, reading, baking, and cooking. I love to volunteer at my church whether it be being a leader at Girl's Club, helping make meals for church activities, or helping out in the nursery. I also enjoy volunteering at Guelph Bible Camp by being a counsellor.
</p>
